#AboutPage {
	background-color: gray;
	height: 800px;
}
#TopOfPage {
background-color: rgb(93, 148, 81);
height: 800px;
}
.MakeBetter{
color: rgb(255,255,255);
font-family: 'Raleway', sans-serif;
font-size: 80px;

}
.MakeWhite{
color: rgb(255,255,255);
font-family: 'Raleway', sans-serif;
font-size: 20px;

}
.MakeBlack{
color: black;
font-family: 'Raleway', sans-serif;
font-size: 20px;

}
.FontHead{
font-family: 'Raleway', sans-serif;
font-size: 60px;
padding-top: 50px;
font-weight: bold;

}
.FontTitle{
font-family: 'Raleway', sans-serif;
font-size: 30px;
padding-top: 20px;

}
.FontPara{
font-family: 'Raleway', sans-serif;
font-size: 20px;
line-height: normal;

}
#SecondMiddle{
background-color: rgba(95, 95, 95,.2);
margin-top:400px;	
height:1000px;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px; 
    border: none;
    cursor: pointer;
    width: 400px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.mathdrpdwn {
    position: relative;
    display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.mathdrpdwn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.mathdrpdwn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mathdrpdwn-content a:hover {background-color: #f1f1f1}

.mathdrpdwn:hover .mathdrpdwn-content {
    display: block;
}

.mathdrpdwn:hover .dropbtn {
    background-color: #000080;
}
.scidrpdwn {
    position: relative;
    display: inline-block;
}

.scidrpdwn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.scidrpdwn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.scidrpdwn-content a:hover {background-color: #f1f1f1}

.scidrpdwn:hover .scidrpdwn-content {
    display: block;
}

.scidrpdwn:hover .dropbtn {
    background-color: #000080;
}

